@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta-sans);
  --color-primary: #EE2B8C;
  --color-primary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
